<div class="row">
  <div class="col-xs-2 grid-column">
    <a href="#/letter/05" ng-click="playLetter(05)"><img src="assets/img/letters/05.png" id="img05" class="fill-img"></a>
    <a href="#/letter/11" ng-click="playLetter(11)"><img src="assets/img/letters/11.png" id="img11" class="fill-img"></a>
    <a href="#/letter/17" ng-click="playLetter(17)"><img src="assets/img/letters/17.png" id="img17" class="fill-img"></a>
    <a href="#/letter/23" ng-click="playLetter(23)"><img src="assets/img/letters/23.png" id="img23" class="fill-img"></a>
  </div>
  <div class="col-xs-2 grid-column">
    <a href="#/letter/04" ng-click="playLetter(04)"><img src="assets/img/letters/04.png" id="img04" class="fill-img"></a>
    <a href="#/letter/10" ng-click="playLetter(10)"><img src="assets/img/letters/10.png" id="img10" class="fill-img"></a>
    <a href="#/letter/16" ng-click="playLetter(16)"><img src="assets/img/letters/16.png" id="img16" class="fill-img"></a>
    <a href="#/letter/22" ng-click="playLetter(22)"><img src="assets/img/letters/22.png" id="img22" class="fill-img"></a>
    <a href="#/letter/27" ng-click="playLetter(27)"><img src="assets/img/letters/27.png" id="img27" class="fill-img"></a>
  </div>
  <div class="col-xs-2 grid-column">
    <a href="#/letter/03" ng-click="playLetter(03)"><img src="assets/img/letters/03.png" id="img03" class="fill-img"></a>
    <a href="#/letter/09" ng-click="playLetter(09)"><img src="assets/img/letters/09.png" id="img09" class="fill-img"></a>
    <a href="#/letter/15" ng-click="playLetter(15)"><img src="assets/img/letters/15.png" id="img15" class="fill-img"></a>
    <a href="#/letter/21" ng-click="playLetter(21)"><img src="assets/img/letters/21.png" id="img21" class="fill-img"></a>
    <a href="#/letter/26" ng-click="playLetter(26)"><img src="assets/img/letters/26.png" id="img26" class="fill-img"></a>
  </div>
  <div class="col-xs-2 grid-column">
    <a href="#/letter/02" ng-click="playLetter(02)"><img src="assets/img/letters/02.png" id="img02" class="fill-img"></a>
    <a href="#/letter/08" ng-click="playLetter(08)"><img src="assets/img/letters/08.png" id="img08" class="fill-img"></a>
    <a href="#/letter/14" ng-click="playLetter(14)"><img src="assets/img/letters/14.png" id="img14" class="fill-img"></a>
    <a href="#/letter/20" ng-click="playLetter(20)"><img src="assets/img/letters/20.png" id="img20" class="fill-img"></a>
    <a href="#/letter/25" ng-click="playLetter(25)"><img src="assets/img/letters/25.png" id="img25" class="fill-img"></a>
  </div>
  <div class="col-xs-2 grid-column">
    <a href="#/letter/01" ng-click="playLetter(01)"><img src="assets/img/letters/01.png" id="img01" class="fill-img"></a>
    <a href="#/letter/07" ng-click="playLetter(07)"><img src="assets/img/letters/07.png" id="img07" class="fill-img"></a>
    <a href="#/letter/13" ng-click="playLetter(13)"><img src="assets/img/letters/13.png" id="img13" class="fill-img"></a>
    <a href="#/letter/19" ng-click="playLetter(19)"><img src="assets/img/letters/19.png" id="img19" class="fill-img"></a>
    <a href="#/letter/24" ng-click="playLetter(24)"><img src="assets/img/letters/24.png" id="img24" class="fill-img"></a>
  </div>
  <div class="col-xs-2 grid-column">
    <a href="#/letter/00" ng-click="playLetter(00)"><img src="assets/img/letters/00.png" id="img00" class="fill-img"></a>
    <a href="#/letter/06" ng-click="playLetter(06)"><img src="assets/img/letters/06.png" id="img06" class="fill-img"></a>
    <a href="#/letter/12" ng-click="playLetter(12)"><img src="assets/img/letters/12.png" id="img12" class="fill-img"></a>
    <a href="#/letter/18" ng-click="playLetter(18)"><img src="assets/img/letters/18.png" id="img18" class="fill-img"></a>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <a href="#/letter/all"><img src="assets/img/letters/28.png" id="img28" class="fill-img play-button"></a>
  </div>
</div>