body {
  background: url(../img/board.jpg);
  padding: 0 15px;
}

.main-content {
  padding: 15px 0;
  position: relative;
}

img.fill-img {
  width: 100%;
}

.grid-column, .menu-column {
  padding: 0px;
  margin: 0;
}

.play-column {
  position: absolute;
}

.img-container {
  background-image: url(../img/roll.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
