body {
  background: url(../img/board.jpg);
  padding: 0 15px;
}

.container {
  padding: 15px 0;
}

.grid-column {
  padding: 0px;
}

.grid-column img {
  margin-bottom: 33%;
}

img.fill-img {
  width: 100%;
}

.grid-column, .menu-column {
  padding: 0px;
  margin: 0;
}

.img-container {
  background-image: url(../img/roll.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 15%;
}
